/* Write your CSS Here. */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#categoryTitle {
    text-align: center;
}
.container {
    text-align: center;  
}
#start {
    align-content: center;
}
#totalScore{
    text-align: center;
}
#totalPoints {
    text-align: center;
}
#question {
    
    text-align: center; 
}
#questions {
    text-align: center;  
}
#answers {
    align-content: center;  
}
#submitAnswer {
    align-content: center
}
/* #nextQuestion{
        background-color: gainsboro;
        border: 1px solid black;
        color: black;
        padding:0.5rem 2.8rem;
        text-align: center;
        text-decoration: none;
        font-size:  1em;
        display:inline-block;
        
} */

